.card {
  margin-bottom: 1em;
}
.card-title {
  background-color: #343a40 !important;
  color: white;
  padding: 0.75rem 1.25rem;
}

.card-title a {
  color: white;
}

.card-title a:hover {
  color: white;
  text-decoration: none;
}

.card-text {
  padding: 1.25rem;
}
